# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
.venv/
env/
venv/

# Audio files & temporary downloads (Exclude binary mp3 files from git)
*.mp3
*.wav
*.tmp
*.log

# Output directory (Exclude generated transcripts & summaries from repository)
Output/
